<nav class="navbar">
    <a href="/home"><img src="/css/Sweet%20Spot.png" alt="Sweet Spot" class="logo"></a>
    <div class="nav-links">
        <a href="/spots/explore" class="nav-btn">Explore</a>
        <a href="/spots/appeal" class="nav-btn">Appeal</a>
        <a href="/date/create" class="nav-btn nav-btn-blue">Create +</a>
        {{#if isAdmin}}<a href="/admin" class="nav-btn">Admin</a>{{/if}}
        <a href="/logout" class="nav-btn">Logout</a>
        <a href="/profile"><img src="/css/profile_icon.png" alt="My Profile" class="nav-icon"></a>
    </div>
</nav>
