<nav class="navbar">
    <a href="/home"><img src="/css/Sweet%20Spot.png" alt="Sweet Spot" class="logo"></a>
    <div class="nav-links">
        <a href="/spots/explore" class="nav-btn">Explore</a>
        <a href="/spots/appeal" class="nav-btn">Appeal</a>
        <a href="/date/create" class="nav-btn nav-btn-blue">Create +</a>
        <a href="/profile"><img src="/css/profile_icon.png" alt="My Profile" class="nav-icon"></a>
    </div>
</nav>


<h1>Add a Review</h1>

{{#if error}}
    <p>{{error}}</p>
{{/if}}

<form id="review-form" name="review-form" method="POST" action="/spots/{{spot._id}}/review">
    <label for="review">Write your review:</label>
    <input type="text" id="review" name="review"/>

    <label for="rating">Rating (1-5):</label>
    <select id="rating" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <button id="submitButton" name="submitButton">Submit Review</button>
</form>

<div id="error" class="error" hidden></div>
<script src="/js/addReview.js"></script>