<h1>Create a Spot</h1>

{{#if error}}
    <p>{{error}}</p>
{{/if}}

<form id="appeal-form" name="appeal-form" method="POST" action="/spot/appeal">
    <label for="name">Name of the Spot being Created:</label>
    <input type="text" id="name" name="name"/>

    <label for="description">Enter the description of the Spot:</label>
    <input type="text" id="description" name="description"/>

    <label for="street">Enter the street of the Spot:</label>
    <input type="address" id="street" name="street"/>

    <label for="borough">Pick which borough the Spot is in:</label>
    <select id="borough" name="borough">
        <option value="the bronx">The Bronx</option>
        <option value="brooklyn">Brooklyn</option>
        <option value="manhattan">Manhattan</option>
        <option value="queens">Queens</option>
        <option value="staten island">Staten Island</option>
    </select>

    <label for="zip">Enter the zip-code of the Spot:</label>
    <input type="text" id="zip" name="zip"/>

    <button id="submitButton" name="submitButton">Submit for Appeal</button>
</form>

<div id="error" class="error" hidden> </div>
<script src="/js/appealSpotCreate.js"></script>