<h1>Register</h1>

{{#if error}}
    <p>{{error}}</p>
{{/if}}

<form id="signup-form" name="signup-form" method="POST" action="/register">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required />

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required />

    <label for="gender">Gender:</label>
    <select id="gender" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>


    <label for="primaryLocation">Primary Location:</label>
    <select id="primaryLocation" name="primaryLocation">
        <option value="the bronx">The Bronx</option>
        <option value="brooklyn">Brooklyn</option>
        <option value="manhattan">Manhattan</option>
        <option value="queens">Queens</option>
        <option value="staten island">Staten Island</option>
    </select>

    <label for="secondaryLocation">Secondary Location:</label>
    <select id="secondaryLocation" name="secondaryLocation">
        <option value="">None</option>
        <option value="the bronx">The Bronx</option>
        <option value="brooklyn">Brooklyn</option>
        <option value="manhattan">Manhattan</option>
        <option value="queens">Queens</option>
        <option value="staten island">Staten Island</option>
    </select>

    <button id="submitButton" name="submitButton">Register</button>
</form>

<div id="error" class="error" hidden> </div>

<a href="/signin">Click here to sign-in</a>
