<h1>Change your Profile Details</h1>

{{#if error}}
    <p>{{error}}</p>
{{/if}}

<form id="edituser-form" name="edituser-form" method="POST" action="/editUser">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName"/>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName"/>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email"/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"/>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword"/>

    <label for="gender">Gender:</label>
    <select id="gender" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>


    <label for="primaryLocation">Primary Location:</label>
    <select id="primaryLocation" name="primaryLocation">
        <option value="the bronx">The Bronx</option>
        <option value="brooklyn">Brooklyn</option>
        <option value="manhattan">Manhattan</option>
        <option value="queens">Queens</option>
        <option value="staten island">Staten Island</option>
    </select>

    <label for="secondaryLocation">Secondary Location:</label>
    <select id="secondaryLocation" name="secondaryLocation">
        <option value="">None</option>
        <option value="the bronx">The Bronx</option>
        <option value="brooklyn">Brooklyn</option>
        <option value="manhattan">Manhattan</option>
        <option value="queens">Queens</option>
        <option value="staten island">Staten Island</option>
    </select>

    <button id="submitButton" name="submitButton">Apply Changes</button>
</form>

<div id="error" class="error" hidden> </div>
