<!-- 
This is just a placeholder file for the actual error.handlebars
that we will implement, since I'm not entirely sure at the moment
how we should structure that error file.

Implement your changes as needed if you guys need to.
-->

<h1>{{title}}</h1>
<p>{{error}}</p>